.centerlayer {
	width: 100%;
}
.grid {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 10px;
}

html {
    scrollbar-width: thin;
 	scrollbar-color: #A4B4B6 rgba(112, 128, 144, 0.2);
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
    background-color: rgba(112, 128, 144, 0.2);
}
::-webkit-scrollbar-thumb {
	background-color: #A4B4B6;
	border-radius: 11px;
}

