@font-face {
  font-family: "FuturisXCondCTT";
  font-weight: 400;
  src:
    url("../assets/fonts/FuturisXCondCTT.woff2") format('woff2'),
    url("../assets/fonts/FuturisXCondCTT.ttf") format('ttf'),
    url("../assets/fonts/FuturisXCondCTT.woff") format('woff');
}

@font-face {
  font-family: "FuturaTCYLigCon";
  font-weight: 400;
  src:
    url("../assets/fonts/FuturaTCYLigCon.woff2") format('woff2'),
    url("../assets/fonts/FuturaTCYLigCon.woff") format('woff'),
    url("../assets/fonts/FuturaTCYLigCon.ttf") format('ttf');
}
@font-face {
  font-family: "MagicCardsCyrillic";
  font-weight: 400;
  src:
    url("../assets/fonts/MagicCardsCyrillic.woff2") format('woff2'),
    url("../assets/fonts/MagicCardsCyrillic.woff") format('woff'),
    url("../assets/fonts/MagicCardsCyrillic.ttf") format('ttf');
}